//
// (c) BLACKTRIANGLES 2019
// http://www.blacktriangles.com
//

@import "./config.styl"

html, body {
  background: color-bg;
  color: color-fg;
  font: default-font-size default-font;
  overflow: hidden;
}

#mount {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

  border: 0px;
  margin: 0px;
  padding: 0px;

}
